{% extends "base.html" %}

{% block title %}List of coctails{% endblock %}

{% block content %}
	<h1>Coctails list</h1>

	<dl>
		{% for coctail in object_list %}
			<dt><a href="{{ coctail.get_absolute_url }}">{{ coctail.title }}</a></dt>
			<dd>
				{{ coctail.description }}
			</dd>
			<dd>
				Ingridients:
				<ul>
				    {% for ingridient in coctail.ingridients.all %}
						<li>{{ ingridient.title }}</li>
					{% endfor %}
				</ul>
			</dd>
				
		{% endfor %}
	</dl>
{% endblock content %}